# Use following command to install hdbscan first : pip install --upgrade git+https://github.com/scikit-learn-contrib/hdbscan.git#egg=hdbscan
bertopic
sentence_transformers
spacy
nltk
tweet-preprocessor
# Download spacy model using: python -m spacy download en_core_web_md